<footer class="site-footer container">
    <ul class="footer-links">
        <li><a href="/now">/now</a></li>
        <li><a href="/archives.html">Archives</a></li>
        <li><a href="mailto:hi@curtmerrill.com">E-mail</a></li>
        <li><a href="https://xoxo.zone/@cmerrill">Mastodon</a></li>
        <li><a href="https://twitter.com/cmerrill">Twitter</a></li>
    </ul>
    <p>&copy; <span class="copyright-year">2019</span> Curt Merrill &bull; <span class="motto">Vincit qui patitur</span></p>
</footer>
